
@if(gathered){
    <div class="w-3 mt-3 justify-content-center align-items-center" style="margin:0 auto" >
      <div 
        class="font-bold flex flex-column p-2 w-12 border-1 border-round-md border-noround-bottom"
        style="background-color: #FFC581; border-color:#F29323;color:#854800;"
      >
        Iniciativa conjunta
      </div>
      <div
        class="px-2 flex flex-column justify-content-start align-items-center border-1 border-top-none border-round-md border-noround-top"
        style="background-color: #FFEBD4;border-color:#F29323;"
      >
        @for (combine of combined; track combine.id) {
          <div class="flex w-full flex-row align-items-center justify-content-start"> 
            <span class="flex align-items-center w-4">{{ combine.name }} ({{ combine.value }})</span>
            <p-button icon="pi pi-trash" styleClass="flex hover:bg-blue-100" size="small" [rounded]="true" [text]="true" severity="danger"/>
          </div>
        } @empty {
          <p>Nada para mostrar</p>
        }
      </div>
      <p-button 
        styleClass="mt-3"
        (onClick)="gather()"
        icon="pi pi-arrow-left"
        label="Retornar" severity="warn"
        [style]="{width: '100%'}"
      />
    </div>
  } @else{
   <div class="mt-4 w-9 flex flex-column" style="margin: 0 auto;">
    <div class="w-full flex flex-row">
      <div class="w-6 flex flex-column mr-3">
          <form [formGroup]="friendForm" (ngSubmit)="onSubmitFriend()" class="flex flex-column">
           <div class="flex flex-row mb-2">
            <div class="flex flex-column w-full mr-3">
              <label for="name">Nome: </label>
              <input pInputText id="name" type="text" formControlName="name">
            </div>
            <div class="flex flex-column w-3 mr-3">
              <label for="select">Tipo:</label>
              <p-select formControlName="selectedOption" [options]="options" optionLabel="value" class="w-full md:w-56" />
            </div>
            @if(!this.friendForm?.value?.selectedOption?.code){
              <div class="flex flex-column w-3">
                <label for="finalValue">Valor final: </label>
                <input pInputText id="finalValue" type="number" formControlName="finalValue">
              </div>
            } @else{
              <div class="flex flex-column w-3">
                <label for="initiative">Modificador: </label>
                <input pInputText id="initiative" type="number" formControlName="initiative">
              </div>
            }
           
           </div>
           
            <p-button icon="pi pi-plus"type="submit" [disabled]="!friendForm.valid" label="Adicionar" styleClass="w-full mb-2" />
          </form>
          <div 
          class="font-bold p-2 w-12 border-1 border-round-md border-noround-bottom"
          style="background-color: #A9D6F8; border-color:#398AC8;color:#0A4A75;"
        >
            Amigo
          </div>
          <div
            class="px-2 flex flex-column justify-content-start align-items-center border-1 border-top-none border-round-md border-noround-top"
            style="background-color: #E4F3FF;border-color:#398AC8;"
          >
          @for (friend of friends; track friend.id) {
            <div class="flex w-full flex-row align-items-center justify-content-start"> 
              <span class="flex align-items-center w-3">{{ friend.name }} ({{ friend.value }})</span>
              <p-button icon="pi pi-trash" styleClass="flex hover:bg-blue-100" size="small" [rounded]="true" [text]="true" severity="danger"/>
            </div>
          } @empty {
            <p>Nada para mostrar</p>
          }
              
          </div>
      </div>
      <div class="w-6 flex flex-column">
         <form [formGroup]="enemyForm" (ngSubmit)="onSubmitEnemy()" class="flex flex-column">
          <div class="flex flex-row mb-2">
           <div class="flex flex-column w-full mr-3">
             <label for="name">Nome: </label>
             <input pInputText id="name" type="text" formControlName="name">
           </div>
           <div class="flex flex-column w-3 mr-3">
             <label for="select">Tipo:</label>
             <p-select formControlName="selectedOption" [options]="options" optionLabel="value" class="w-full md:w-56" />
           </div>
           @if(!this.enemyForm?.value?.selectedOption?.code){
             <div class="flex flex-column w-3">
               <label for="finalValue">Valor final: </label>
               <input pInputText id="finalValue" type="number" formControlName="finalValue">
             </div>
           } @else{
             <div class="flex flex-column w-3">
               <label for="initiative">Modificador: </label>
               <input pInputText id="initiative" type="number" formControlName="initiative">
             </div>
           }
          
          </div>
          
           <p-button icon="pi pi-plus" type="submit" [disabled]="!enemyForm.valid" label="Adicionar" styleClass="w-full mb-2" />
         </form>
          <div 
            class="font-bold flex flex-column p-2 w-12 border-1 border-round-md border-noround-bottom"
            style="background-color: #FA9898; border-color:#EB4444;color:#670303;"
          >
              Inimigo
          </div>
          <div
            class="px-2 flex flex-column justify-content-start align-items-center border-1 border-top-none border-round-md border-noround-top"
            style="background-color: #FFE6E6;border-color:#EB4444;"
          >
          @for (enemy of enemies; track enemy.id) {
            <div class="flex w-full flex-row align-items-center justify-content-start"> 
              <span class="flex align-items-center w-3">{{ enemy.name }} ({{ enemy.value }})</span>
              <p-button icon="pi pi-trash" styleClass="flex hover:bg-blue-100" size="small" [rounded]="true" [text]="true" severity="danger"/>
            </div>
          } @empty {
            <p>Nada para mostrar</p>
          }
          </div>
      </div>
    </div>
    <div class="w-full mt-3 justify-content-center align-items-center" >
      <p-button 
        icon="pi pi-check"
        (onClick)="gather()"
        label="Juntar" severity="help"
        [style]="{width: '101.5%'}"
      />
    </div>
   </div>
   
  }